{% extends 'base.html' %}

{% block title %}Consultas{% endblock %}

{% block main %}
<main class="main-center">
    <h2>Cronograma de Consultas</h2>
    <p>Verifique as consultas marcadas até então. Você pode filtra-las por profissional, dia e nome do paciente.</p>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ form.doctor.label_tag }}
        {{ form.doctor }}
        <br><br>
        {{ form.date.label_tag }}
        {{ form.date }}
        <br>
        <button type="submit">Filtrar</button>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Horário</th>
                <!-- Percorre cada data para posicionamento no header -->
                {% for data in lista_datas_exibicao %}
                <th>{{ data|date:"d/m/Y" }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Percorre cada horário para posicionamento das consultas -->
            {% for horario, dias in listas_consultas.items %}
            <tr>
                <th class="subheader">{{ horario }}</th>
                <!-- Percorre cada dia da semana para posicionamento das consultas -->
                {% for dia, consultas in dias.items %}
                <td>
                    {% if consultas %}
                        <!-- Percorre e posiciona as consultas em seus devidos lugares -->
                        {% for consulta in consultas %}
                            {{ consulta.patient_name }}<br>
                            Duração: {{ consulta.duration }}min<br><br>
                            <a href="">Deletar</a> |
                            <a href="">Visualizar</a> |
                            <a href="">Remarcar</a>
                        {% endfor %}
                    {% else %}
                        <p>---</p>
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}