{% extends 'base.html' %}

{% block title %}Detalhes{% endblock %}

{% block main %}
<main class="main-center">
    <h2>Detalhes da Consulta</h2>
    <p>Segue os detalhes da consulta requisitada</p>
    <hr>
    <p><strong><big>Paciente: {{ consulta.patient_name }}</big></strong></p>
    <p><strong>Médico:</strong> {{ consulta.doctor }}</p>
    <p><strong>Data:</strong> {{ consulta.date|date:"d/m/Y" }} às {{ consulta.date|date:"H:i" }} horas</p>
    <p><strong>Duração:</strong> {{ consulta.duration }} minutos</p>
    <p><strong>Descrição:</strong></p> 
    <p>{{ consulta.description }}</p>
    <hr>
    <a href="{% url 'cronograma_consultas' %}" class="link_button">Voltar ao Cronograma</a>
</main>
{% endblock %}