{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<!-- Head base para os templates do Django -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %} - Consultation Station</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<!-- Body base para os templates do Django -->
<body>
    <header>
        <h1><i class="bi bi-hospital-fill"></i> Consultation Station</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}"><i class="bi bi-house-fill"></i> Página Principal</a></li>
                <li><a href=""><i class="bi bi-info-circle-fill"></i> Mais sobre mim :)</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">{{ user.name }}</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    {% block main %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Consultation Station. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
