{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block main %}
<main class="main-center">
    <h2>Página de Cadastro</h2>
    <p>Crie uma nova conta para agendar consultas</p>
    <form method="post">
        {% csrf_token %}
        <div>
            <hr>
            {{ form.name.label_tag }}
            {{ form.name }}
            <br><br>
            {{ form.date_of_birth.label_tag }}
            {{ form.date_of_birth }}
            <br><br>
            {{ form.gender.label_tag }}
            {{ form.gender }}
            <hr>
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {{ form.cpf.label_tag }}
            {{ form.cpf }}
            <br><br>
            {{ form.address.label_tag }}
            {{ form.address }}
            <hr>
            {{ form.email.label_tag }}
            {{ form.email }}
            <br><br>
            {{ form.password1.label_tag }}
            {{ form.password1 }}
            <br><br>
            {{ form.password2.label_tag }}
            {{ form.password2 }}
            <hr>
        </div>
        <button type="submit">Registrar</button>
    </form>
    <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>
</main>
{% endblock %}